<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Counter</title>
</head>
<body>
    <h1 style="text-align:center"> Counter</h1>
    <h2 style="text-align:center">{{ session['count'] }}</h2>
    <div class="button">
        <form action="/add_2" method="post">
            <a href="/add_2">
            <button type="submit" class="btn btn-outline-success">Add 2</button>
            </a>
        </form>
        <form action="destroy_session", method="post">
            <a href="/destroy_session">
            <button type="submit" class="btn btn-outline-danger">Reset</button>
            </a>
        </form>
    </div>
</body>
</html>