<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Form</title>
</head>
<body>
    <div class="container">
        <form action="/process" method="post">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" placeholder="Full name">
            <label for="location">Dojo Location</label>
            <select id="location" name="location">
                <option value="sj">San Jose</option>
                <option value="sf">San Francisco</option>
                <option value="la">Los Angeles</option>
            </select>
            <label for="language">Favorite Language</label>
            <select id="language" name="language">
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="mysql">MySQL</option>
            </select>
            <label for="comment">Comments</label>
            <textarea id="comment" name="comment" placeholder="Any comments.." style="height:200px"></textarea>
            <input type="submit" value="Submit">
        </form>
      </div>
</body>
</html>